.latestBackground {
  width: 100%;
  background: hsl(0, 0%, 98%);
}
.latest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}
.latest h1 {
  margin-bottom: 50px;
}
